.needsContainer {
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: auto;
  margin-top: 20px;
}

.needsContainer * {
  margin: 0;
}

.needsContainer img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.needsContainer div {
  overflow: auto;
  margin-left: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.needsContainer div p {
  overflow-wrap: break-word;
}

.needsContainer div p:first-of-type {
  font-size: 10px;
  font-weight: bold;
}

.needsContainer div p:last-of-type {
  font-size: 14px;
}