.nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--app-color);
  color: white;
}

.margin {
  margin-bottom: 80px;
}

.nav * {
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  padding-right: 10px;
}

.dots {
  float: right;
  width: 20px;
  visibility: hidden;
}