.h1 {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0;
  background-color: var(--app-color);
  font-size: 1rem;
  font-weight: 725;
  letter-spacing: 0.25rem;
  word-spacing: 0.3rem;
  color: white;
}

.margin {
  padding-bottom: 2rem;
}