.btnContainer {
  position: relative;
  padding: 12px;
  border-bottom: 1px solid gray;
}

.button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
}

.button:first-of-type {
  position: absolute;
  top: 6px;
  left: 10px;
}

.button:last-of-type {
  position: absolute;
  top: 6px;
  right: 10px;
}

.darkblue {
  color: red;
}