.margin {
  margin-top: 82px;
}

.nav {
  background-color: var(--app-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.nav div {
  text-align: center;
}

.nav div img {
  width: 40px;
}

.p {
  margin: 0 auto;
  color: white;
  bottom: 0;
  font-size: 12px;
}