* {
  box-sizing: border-box;
}

main{
  margin: 10px;
}

/* ------------ HEADER -------------- */
.header-nav {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav * {
  margin: 0;
}

#h-container {
  display: flex;
  align-items: center;
}

#h-logo {
  width: 40px;
  padding-right: 10px;
}

#dots {
  float: right;
  width: 20px;
  visibility: hidden;
}

/* #menu-container {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  padding: 5px;
  background-color: rgb(201, 201, 201);
}

h2 {
  font-size: 16px;
  margin: 0;
  padding-bottom: 10px;
}

#menu-container h2:last-of-type {
  padding: 0;
} */

/* ---------- Footer ----------- */
.footer-nav {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.footer-nav div {
  text-align: center;
}

.footer-nav div img {
  width: 40px;
}

.footer-p {
  margin: 0 auto;
  color: white;
  bottom: 0;
  font-size: 12px;
}